@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-navbar: "Inter";
    --cinza: #667085;
    --branco: #FFFFFF;
    --vermelho: #8E2424;
    --azul: #101828;
    --fundo-span: #E5E5E5;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-navbar);
    line-height: 1.5rem;
    max-width: 100vw;
}

.navbar_container {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_img {
    width: 9.25rem;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.navbar_container a {
    text-decoration: none;
    font-weight: 500;
    color: var(--cinza);
    cursor: pointer;
}

.btn_entrar {
    background-color: var(--branco);
    border: none;
    font-family: var(--fonte-navbar);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--cinza);
    padding: .625rem 1rem;
    cursor: pointer;
}

.btn_cadastrar {
    border: none;
    background-color: var(--vermelho);
    font-family: var(--fonte-navbar);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--branco);
    border-radius: .5rem;
    padding: .625rem 1.125rem;
    cursor: pointer;
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 6rem 0;
}

span {
    color: var(--vermelho);
    font-weight: 600;
}

.titulo_about {
    font-size: 3rem;
    line-height: 3.75rem;
    font-weight: 600;
    color: var(--azul);
}

.texto {
    width: 49.5rem;
    font-size: 1.25rem;
    text-align: center;
    color: var(--cinza);
    padding: .75rem 0 0 0;
}

.sec_metricas{
    padding: 0 5rem 6rem 5rem;
}

.container_metricas{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;

}

.metrica{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    width: 25rem;
}

.titulo_metrica{
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 4.5rem;
    letter-spacing: -2%;
    color: var(--vermelho);
}
.subtitulo_metrica{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--azul);
}

.texto_metrica{
    color: var(--cinza);
}

.sec_vagas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 6rem 0;
}

.span_background{
    background-color: var(--fundo-span);
    border-radius: 1rem;
    padding: .25rem .75rem;
}

.titulo_vagas{
    line-height: 2.75rem;
    letter-spacing: -2%;
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--azul);
}  

.sec_vagas .texto{
    padding: .25rem 0 0 0;
}

.img_vagas{
    padding-top: 3rem;
    max-width: 80vw;
}