@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-navbar: "Inter";
    --cinza: #667085;
    --branco: #FFFFFF;
    --vermelho: #8E2424;
    --azul: #101828;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-navbar);
    line-height: 24px;
    min-width: 100vw;
}

.navbar_container {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_img {
    width: 148px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.navbar_container a {
    text-decoration: none;
    font-weight: 500;
    color: var(--cinza);
    cursor: pointer;
}

.btn_entrar {
    background-color: var(--branco);
    border: none;
    font-family: var(--fonte-navbar);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza);
    padding: 10px 16px;
    cursor: pointer;
}

.btn_cadastrar {
    border: none;
    background-color: var(--vermelho);
    font-family: var(--fonte-navbar);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--branco);
    border-radius: 8px;
    padding: 10px 18px;
    cursor: pointer;
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 96px 0;
}

.span_about {
    color: var(--vermelho);
    font-weight: 600;
}

.titulo_about {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: var(--azul);
}

.texto_about {
    width: 792px;
    font-size: 20px;
    text-align: center;
    color: var(--cinza);
    padding: 12px 0 0 0;
}

.sec_metricas{
    padding: 0 80px 96px 80px;
}

.container_metricas{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 0 32px;

}

.metrica{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 280px;
}

.titulo_metrica{
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -2%;
    color: var(--vermelho);
}
.subtitulo_metrica{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--azul);
}

.texto_metrica{
    color: var(--cinza);
}